
body{
    position: relative;
    height: 100%;
    text-align: center;
}
body{
    background-color:#3232;
    font-family: helvetica Neve, Helvetica;
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;

}
.swiper{
    width: 100%;
    padding: 150px 0 50px 0;
}
.swiper-slide{
    width: 300px;
    height: 500px;
    background-color: #32323232;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    padding: 40px;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:  40px;
}
.icons i{
    font-size:  20px;
    color: rgb(45, 30, 175);

}

.icons img {
    width: 120 px;
}
.pruduct-content{
    display: flex;
    justify-content: space-between;
}
.product-txt{
    flex-basis: 50%;
    text-align: left;
}
.product-txt span{
    font-size: 25px;
    color: blue;
    font-weight: bold;
}
.product-txt h3{
    font-size: 20px;
    color: rgb(240, 234, 234);
    text-transform: uppercase;

}
.product-txt p{
    font-size: 14px;
    color: black;
}
.product-img{
 flex-basis: 50px;   
 text-align: right;
}
.product-img img{
width: 120px;    
}
.btn-1 {
    display:  inline-block;
    padding: 13px 55px;
    border: 1px solid rgb(17, 166, 224);
    border-radius: 25px;
    color: black;
    text-decoration: none;
    margin-top: 50px;
}

#logo{
    height: 150px;
    width: 150px;
}